[
  {epp_proxy, [{tcp_port, 1700},
               {tls_port, 700},
               {epp_session_url, "https://registry.test/epp/session/"},
               {epp_command_url, "https://registry.test/epp/command/"},
               {cacertfile_path, "/opt/shared/ca/certs/ca.crt.pem"},
               {certfile_path, "/opt/shared/ca/certs/cert.pem"},
               {keyfile_path, "/opt/shared/ca/certs/key.pem"}]}
].
