[
  {epp_proxy, [{dev_mode, false},
               {tcp_port, 1700},
               {tls_port, 700},
               {epp_session_url, "https://registry.test/epp/session/"},
               {epp_command_url, "https://registry.test/epp/command/"},
               {epp_error_url, "https://registry.test/epp/error/"},
               {cacertfile_path, "/opt/shared/ca/certs/ca.crt.pem"},
               {certfile_path, "/opt/shared/ca/certs/cert.pem"},
               {keyfile_path, "/opt/shared/ca/certs/key.pem"},
               {crlfile_path, "/opt/shared/ca/certs/key.pem"}]},
  {lager, [
    {handlers, [
               {lager_console_backend, info},
               {lager_syslog_backend, ["epp_proxy", local1, info]}
    ]}
  ]}
].
