[
  {epp_proxy, [{tcp_port, 3333},
               {tls_port, 4444},
               {epp_session_url, "https://registry.test/epp/session/"},
               {epp_command_url, "https://registry.test/epp/command/"},
               {cacertfile_path, "/Users/maciej/Development/internetee/docker-images/shared/ca/certs/ca.crt.pem"},
               {certfile_path, "/Users/maciej/Development/internetee/docker-images/shared/ca/certs/apache.crt"},
               {keyfile_path, "/Users/maciej/Development/internetee/docker-images/shared/ca/private/apache.key"}]}
].
