%% -*- erlang -*-
[
  {epp_proxy, [
               %% Enables or disable TCP connections without TLS (true/false)
               {dev_mode, false},
               %% TCP port, only available if dev_mode is set to true.
               {tcp_port, 1700},
               %% TLS port, specified in RFC to 700, but can be set to anything else
               %% in case that is needed.
               {tls_port, 700},
	       %% When set to true, you can connect to EPP over HTTPS endpoints without
	       %% verifying their TLS certificates.
	       {insecure, false},
               %% URL of EPP endpoints. Can be pointed at a web server (Apache/NGINX)
               %% Can contain port (https://some-host:3000/epp/session)
               %% Honors the prepended protocol (http / https).
               {epp_session_url, "https://registry.test/epp/session/"},
               {epp_command_url, "https://registry.test/epp/command/"},
               {epp_error_url, "https://registry.test/epp/error/"},
               %% Path to root CA that should check the client certificates.
               {cacertfile_path, "/opt/ca/certs/ca.crt.pem"},
               %% Path to server's certficate file.
               {certfile_path, "/opt/shared/ca/certs/cert.pem"},

               %% Path to server's key file.
               {keyfile_path, "/opt/shared/ca/certs/key.pem"},

               %% Path to CRL file. When this option is undefined, no CRL check is performed.
               {crlfile_path, "/opt/shared/ca/certs/key.pem"}]},
  {lager, [
    {handlers, [
               {lager_console_backend, [{level, debug}]},
               {lager_syslog_backend, ["epp_proxy", local0, debug]}
    ]}
  ]}
].
