[
  {epp_proxy, [{dev_mode, false},
               {tcp_port, 3333},
               {tls_port, 4444},
               {epp_session_url, "https://localhost:9292/epp/session/"},
               {epp_command_url, "https://localhost:9292/epp/command/"},
               {epp_error_url, "https://localhost:9292/epp/error/"},
               {cacertfile_path, "/opt/shared/ca/certs/ca.crt.pem"},
               {certfile_path, "/opt/shared/ca/certs/apache.crt"},
               {keyfile_path, "/opt/shared/ca/private/apache.key"}]}
].
