[
  {epp_proxy, [{tcp_port, 17001,
               {tls_port, 17002},
               {epp_session_url, "https://registry.test/epp/session/"},
               {epp_command_url, "https://registry.test/epp/command/"},
               {cacertfile_path, "/opt/shared/ca/certs/ca.crt.pem"},
               {certfile_path, "/opt/shared/ca/certs/ca.crt.pem"},
               {keyfile_path, "/opt/shared/ca/certs/ca.crt.pem"}]}
].
