[
  {epp_proxy, [{dev_mode, false},
               {tcp_port, 3333},
               {tls_port, 1443},

               {epp_session_url, "http://localhost:9292/epp/session/"},
               {epp_command_url, "http://localhost:9292/epp/command/"},
               {epp_error_url, "http://localhost:9292/epp/error/"},
               %% Path to root CA that should check the client certificates.
               {cacertfile_path, "test_ca/certs/ca.crt.pem"},
               {certfile_path, "test_ca/certs/apache.crt"},
               {keyfile_path, "test_ca/private/apache.key"},
               {crlfile_path, "test_ca/crl/crl.pem"}]},


  {lager, [
    {handlers, [
               {lager_console_backend, [{level, warning}]}
               %% {lager_syslog_backend, ["epp_proxy", local0, debug]}
    ]}
  ]}
].
